@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat&display=swap');
/*Index html - header style*/
.menuheader ul{
    text-decoration: none;
    margin: auto;
    
}

.menuheader li{
    text-decoration: none;
    margin: 0;
    text-align: left;
    list-style-type: none;
    display: inline-block;
}

.menuheader li a{
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}


.active {
    background-color:#FF8100;
    border-bottom: 2px solid black;
}

img {
    width: 75%;
    height: auto;
}




#kgjanany {
    color: #f02626;
}
#imageCredit {
    font-family: 'Caveat', cursive;
    margin-left: 4px;
    padding-bottom: 5px;
    border-bottom:1px solid #908a8a;
}

/*-----------Paragraphs*/
.para{
    font-family: "Moderat",sans-serif;
    margin:0;
    padding-left: 150px;
    padding-right:5px;
    padding-top: 5px;
    line-height: 1.6;
}

/*----------------- Second page*/
/* Navbar container */
.navbar {
    overflow: hidden;
    background-color:#FF8100;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 20px;
    color:black;
    text-align: center;
    padding: 28px 32px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 20px;
    border: none;
    outline: none;
    color:black;
    padding: 28px 32px;
    background-color: inherit;
    font-family: inherit; 
    margin: 0; 
  }
  
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #ddd;
  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #FF8100;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  /*Contents on learningoutcomes page*/
.goal {
    
    font-family: "Moderat",sans-serif;
    padding: 25px 100px 0px 250px;

}
.goal p {
    padding: 10px 0px 10px 0px;
    

}
.goal ul {
    line-height: 150%;
}
 .secpage{
    padding-top: 50px ;
    padding-left:250px;
}
.accessibility {
    width: 60%;
    height: auto;
    margin-left: 20%;
    margin-bottom: 75px;
    border: 5px solid #25211d;
}
#testresult{
    padding:75px 0px 50px 250px;
   
}


footer li{
    text-decoration: none;
    list-style-type: none;
}

footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#FF8100;
    color: white;
    text-align: center;
    list-style-type: none;
    text-decoration: none;
  }

 
