@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat&display=swap');


/* ------------------header*/

.menuheader ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #87ceeb;

}
.menuheader li{
    float: left;
    text-decoration: none;
}

.menuheader li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}



img {
    width: 100%;
    height: auto;
}

#kgjanany {
    color: #f02626;
}
#imageCredit {
    font-family: 'Caveat', cursive;
    margin-left: 4px;
    padding-bottom: 5px;
    border-bottom:1px solid #908a8a;
}

/*-----------Paragraphs*/
.para{
    font-family: "Moderat",sans-serif;
    margin:0;
    padding-left: 150px;
    padding-right:5px;
    padding-top: 5px;
    line-height: 1.6;
}

/*----------------- Second page*/
.goal {
    
    font-family: "Moderat",sans-serif;
    padding: 25px 100px 0px 250px;

}
.goal p {
    padding: 10px 0px 10px 0px;
    

}
.goal ul {
    line-height: 150%;
}
 .secpage{
    padding-top: 50px ;
    padding-left:250px;
}

