@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat&display=swap');

body{
    margin-top: 8%;
}

nav {
    margin-bottom: 0; 
    padding: 0;
    background-color: #FF8100;
    margin-top: 0;
    position:absolute; /* eller position: absolute; hvis du vil at den dropper ned */
    top: 0;
    margin-left: -10px;
    width: 100%; 
}

.menuheader ul{
    text-decoration: none;
    margin: 0;
    
}

.menuheader li{
    text-decoration: none;
    margin: 0;
    text-align: left;
    list-style-type: none;
    display: inline-block;
    
} 

.menuheader li a:hover {
    /* lagt til hoover effect */
    color: white; 
    cursor: pointer; 
}

.menuheader li a{
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    
}


img {
    width: 100%;
    height: auto;
}




#kgjanany {
    color: #f02626;
}
#imageCredit {
    font-family: 'Caveat', cursive;
    margin-left: 4px;
    padding-bottom: 5px;
    border-bottom:1px solid #908a8a;
}

/*-----------Paragraphs*/
.para{
    font-family: "Moderat",sans-serif;
    margin:0;
    padding-left: 150px;
    padding-right:5px;
    padding-top: 5px;
    line-height: 1.6;
}

/*----------------- Second page*/

.goal {
    
    font-family: "Moderat",sans-serif;
    padding: 25px 100px 0px 250px;

}
.goal p {
    padding: 10px 0px 10px 0px;
    

}
.goal ul {
    line-height: 150%;
}
 .secpage{
    padding-top: 50px ;
    padding-left:250px;
}
.accessibility {
    width: 60%;
    height: auto;
    margin-left: 20%;
    margin-bottom: 75px;
    border: 5px solid #25211d;
}
#testresult{
    padding:75px 0px 50px 250px;
   
}


footer li{
    text-decoration: none;
    list-style-type: none;
}

footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#FF8100;
    color: white;
    text-align: center;
    list-style-type: none;
    text-decoration: none;
  }

 
